@font-face {
/*   font-family: 'AmstelvarAlpha';
  src: url('AmstelvarAlpha-VF.ttf') format("truetype-variations");
  font-weight: 28 250; */
/*   font-stretch: 60% 402%; */
font-family: 'narkiss_text';

  src:url('../assets/NarkissText-VF.ttf') format("truetype-variations"),
      url('../assets/narkisstext-vf-webfont.woff2') format('woff2'),
      url('../assets/narkisstext-vf-webfont.woff') format('woff');
  font-weight: 400 700;
  font-variation-settings: 'opsz'8;

}
}

html {
  margin: 0;
  padding: 0;
/  /* overflow: hidden; */
  /* cursor: none; */
  /* align-content: center; */

}

body {
  margin: 0;
  padding: 0;
/  /* overflow: hidden; */
  /* cursor: none; */
  /* align-content: center; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  position: relative;
  background-color: #121212;



}

#container {
  cursor: none;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vh;
  /* background: yellow; */
  margin: auto;
  overflow: hidden;
  /* overflow-x: auto;
  overflow-y: hidden; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
  /* mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), (255, 0, 0, 1); */
}

canvas {
  display: block;
}

#type {
  /* display: flex; */
  /* visibility: hidden; */
  overflow-x: scroll;
  direction: rtl;
  font-family:'narkiss_text';
  color: white;
  /* background-color: yellow; */
  /* overflow: auto; */
  font-size: 3em;
  /* font-weight: 400; */
  font-variation-settings: 'opsz' 8;
  /* transition-timing-function: linear; */
  /* transition-duration: 1s; */
  /* padding-top: 1em;
  padding-bottom: 1em; */
  white-space: nowrap;
  /* top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; */
  z-index: 1;
  /* display: inline; */
  /* justify-content: space-between; */

}


#target {
  /* visibility: hidden; */
  direction: rtl;
  font-family:'narkiss_text';
  color: white;
  /* background-color: red; */
  overflow: auto;
  white-space: nowrap;

  font-size: 3em;
  font-weight: 400;
  font-variation-settings: 'opsz' 8;
  transition-timing-function: linear;
  transition-duration: 1s;
  /* padding-top: 1em;
  padding-bottom: 1em; */
  width: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;

}

 .word {
  /* background-color: red; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition-duration: 0.5s;
  /* justify-content: space-between; */
}


#spacer {
  height: 46.5vh;
}
/* .rows {
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: manual;
  vertical-align: middle;
} */

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
