@font-face {
/*   font-family: 'AmstelvarAlpha';
  src: url('AmstelvarAlpha-VF.ttf') format("truetype-variations");
  font-weight: 28 250; */
/*   font-stretch: 60% 402%; */
font-family: 'narkiss_text';

  src:url('../assets/NarkissText-VF.ttf') format("truetype-variations"),
      url('../assets/narkisstext-vf-webfont.woff2') format('woff2'),
      url('../assets/narkisstext-vf-webfont.woff') format('woff');
  font-weight: 400 700;
  font-variation-settings: 'opsz'8;

}
}

html, body {
  margin: 0;
  padding: 0;
/  /* overflow: hidden; */
  cursor: none;
  /* align-content: center; */

}

#container {
  position: relative;
  height: 100vh;
  width: 100vh;
  /* background: yellow; */
  margin: auto;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
  /* mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), (255, 0, 0, 1); */
}

canvas {
  display: block;
}

#target {
    direction: rtl;
  font-family:'narkiss_text';
  color: black;
/*   background-color: yellow; */
  font-size: 3em;
  font-weight: 400;
  font-variation-settings: 'opsz' 8;
  transition-timing-function: linear;
  transition-duration: 1s;
  padding-top: 1em;
  padding-bottom: 1em;
}

.word {
/*   background-color: red; */
  padding-top: 2em;
  padding-bottom: 2em;
  transition-duration: 0.5s;
}
